@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,300,400");
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: arial, sans-serif;
  font-size: 12px; }

html {
  -webkit-box-sizing: inherit;
  -webkit-box-sizing-box-sizing: inherit;
  min-height: 100%; }

.full-width {
  width: 100% !important; }

.width-90 {
  width: 90% !important; }

.width-95 {
  width: 95% !important; }

.width-80 {
  width: 80% !important; }

.width-40 {
  width: 40% !important; }

.width-50 {
  width: 50% !important; }

.nav {
  height: 50px;
  width: 100%; }

nav > ul {
  list-style: none; }
  nav > ul li {
    float: left; }

.mobile-nav {
  width: 150px;
  height: 100%; }
  .mobile-nav ul {
    list-style: none; }

.container {
  max-width: 1250px;
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 20px 0; }

.container-0 {
  width: 100%;
  display: block;
  position: relative;
  padding: 20px 0; }

.no-pad {
  padding: 0 !important; }

.xs-pad {
  padding: 5px !important; }

.sm-pad {
  padding: 10px !important; }

.md-pad {
  padding: 20px !important; }

.lg-pad {
  padding: 50px !important; }

.xl-pad {
  padding: 100px !important; }

.no-pad-right {
  padding-right: 0 !important; }

.xs-pad-right {
  padding-right: 5px !important; }

.sm-pad-right {
  padding-right: 10px !important; }

.md-pad-right {
  padding-right: 20px !important; }

.lg-pad-right {
  padding-right: 50px !important; }

.xl-pad-right {
  padding-right: 100px !important; }

.no-pad-top {
  padding-top: 0 !important; }

.xs-pad-top {
  padding-top: 5px !important; }

.sm-pad-top {
  padding-top: 10px !important; }

.md-pad-top {
  padding-top: 20px !important; }

.lg-pad-top {
  padding-top: 50px !important; }

.xl-pad-top {
  padding-top: 100px !important; }

.no-pad-left {
  padding-left: 0 !important; }

.xs-pad-left {
  padding-left: 5px !important; }

.sm-pad-left {
  padding-left: 10px !important; }

.md-pad-left {
  padding-left: 20px !important; }

.lg-pad-left {
  padding-left: 50px !important; }

.xl-pad-left {
  padding-left: 100px !important; }

.no-pad-bottom {
  padding-bottom: 0 !important; }

.xs-pad-bottom {
  padding-bottom: 5px !important; }

.sm-pad-bottom {
  padding-bottom: 10px !important; }

.md-pad-bottom {
  padding-bottom: 20px !important; }

.lg-pad-bottom {
  padding-bottom: 50px !important; }

.xl-pad-bottom {
  padding-bottom: 100px !important; }

.no-mar {
  margin: 0 !important; }

.xs-mar {
  margin: 5px; }

.sm-mar {
  margin: 10px; }

.md-mar {
  margin: 20px; }

.lg-mar {
  margin: 50px; }

.xl-mar {
  margin: 100px; }

.xxl-mar {
  margin: 250px; }

.no-mar-right {
  margin-right: 0 important; }

.xs-mar-right {
  margin-right: 5px; }

.sm-mar-right {
  margin-right: 10px; }

.md-mar-right {
  margin-right: 20px; }

.lg-mar-right {
  margin-right: 50px; }

.xl-mar-right {
  margin-right: 100px; }

.xxl-mar-right {
  margin-right: 250px; }

.no-mar-top {
  margin-top: 0 !important; }

.xs-mar-top {
  margin-top: 5px; }

.sm-mar-top {
  margin-top: 10px; }

.md-mar-top {
  margin-top: 20px; }

.lg-mar-top {
  margin-top: 50px; }

.xl-mar-top {
  margin-top: 100px; }

.xxl-mar-top {
  margin-top: 250px; }

.no-mar-left {
  margin-left: 0 !important; }

.xs-mar-left {
  margin-left: 5px; }

.sm-mar-left {
  margin-left: 10px; }

.md-mar-left {
  margin-left: 20px; }

.lg-mar-left {
  margin-left: 50px; }

.xxl-mar-left {
  margin-left: 250px; }

.xl-mar-left {
  margin-left: 100px; }

.no-mar-bottom {
  margin-bottom: 0 !important; }

.xs-mar-bottom {
  margin-bottom: 5px; }

.sm-mar-bottom {
  margin-bottom: 10px; }

.md-mar-bottom {
  margin-bottom: 20px; }

.lg-mar-bottom {
  margin-bottom: 50px; }

.xl-mar-bottom {
  margin-bottom: 100px; }

.xxl-mar-bottom {
  margin-bottom: 250px; }

.left {
  left: 0 !important; }

.right {
  right: 0 !important; }

.sm-right {
  right: 10px !important; }

.top {
  top: 0 !important; }

.sm-top {
  top: 10px !important; }

.bottom {
  bottom: 0 !important; }

[class*='flex-'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row; }

.flex-around {
  justify-content: space-around; }

.flex-between {
  justify-content: space-between; }

.absolute {
  position: absolute !important; }

.fixed {
  position: fixed !important; }

.relative {
  position: relative !important; }

.blk {
  display: block !important; }

.inline-blk {
  display: inline-block; }

.center-blk {
  margin: 0 auto; }

.center-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.center-txt {
  text-align: center; }

.right-txt {
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

input, select, textarea {
  outline: none;
  border-radius: 0; }

.btn {
  display: inline-block;
  width: fit-content;
  text-align: center; }

.ul-sm {
  font-size: 12px !important; }
  .ul-sm li {
    margin-bottom: 5px; }

.ul-md {
  font-size: 15px !important; }
  .ul-md li {
    margin-bottom: 10px; }

.line-1 {
  line-height: 1; }

.line-2 {
  line-height: 2; }

.xs-txt {
  font-size: 9px !important; }

.sm-txt {
  font-size: 12px !important; }

.md-txt {
  font-size: 18px !important; }

.lg-txt {
  font-size: 25px !important; }

.xl-txt {
  font-size: 30px !important; }

.xxl-txt {
  font-size: 50px !important; }

.xxxl-txt {
  font-size: 100px !important; }

.sm-btn {
  font-size: 8px;
  padding: 5px 10px; }

.md-btn {
  font-size: 10px;
  padding: 5px 10px; }

.lg-btn {
  font-size: 15px;
  padding: 5px 10px; }

.xl-btn {
  font-size: 20px;
  padding: 10px 40px; }

.sm-input {
  font-size: 8px;
  padding: 5px 10px; }

.md-input {
  font-size: 10px;
  padding: 5px 10px; }

.lg-input {
  font-size: 15px;
  padding: 5px 10px;
  width: 300px; }

.xl-input {
  font-size: 20px;
  padding: 10px 40px; }

.btn-txt-group {
  display: inline-table; }
  .btn-txt-group .btn {
    display: table-cell;
    padding: 5px 10px;
    font-size: 15px;
    vertical-align: middle;
    margin: 0;
    text-align: center; }
  .btn-txt-group .txt {
    display: table-cell;
    padding: 5px 10px;
    font-size: 15px;
    vertical-align: middle;
    margin: 0; }

.sm-transition {
  transition: 0.15s all ease-in-out; }

.md-transition {
  transition: 0.3s all ease-in-out; }

.lg-transition {
  transition: 0.5s all ease-in-out; }

.xl-transition {
  transition: 1s all ease-in-out; }

.font-black {
  color: #333; }

.super-slim-font {
  font-weight: 100 !important;
  font-family: "Roboto", sans-serif; }

.link-dft {
  color: #333;
  text-decoration: none;
  font-weight: 400; }
  .link-dft:hover {
    color: #000;
    text-decoration: underline;
    transform: translate(-3px, 0); }

.txt-success {
  color: #00a651 !important; }

.txt-alert {
  color: #c12e2e !important; }

.txt-subtle {
  color: #ddd !important; }

.txt-grey {
  color: #999 !important; }

.txt-facebook {
  color: #4867aa; }

.txt-signature-blue {
  color: #21a1e1; }

.txt-twitter {
  color: #1da1f2; }

.nav-link {
  font-variant: all-petite-caps; }

.nav-dft {
  background-color: #fff;
  color: #333; }

.nav-inverse {
  background-color: #333;
  color: #eee; }

.slim-txt {
  font-weight: 300; }

.bold {
  font-weight: 400; }

.underline {
  text-decoration: underline; }

[class*='btn'] {
  cursor: pointer; }

.btn-dft {
  color: #333;
  text-decoration: none;
  border: 2px solid #333;
  background-color: transparent;
  font-weight: 400; }
  .btn-dft:hover {
    color: #fff;
    background-color: #000;
    border-color: #000; }

.btn-inverse {
  color: #eee;
  text-decoration: none;
  border: 2px solid #eee;
  background-color: transparent;
  font-weight: 400; }
  .btn-inverse:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff; }

.btn-white {
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  background-color: transparent;
  font-weight: 400; }
  .btn-white:hover {
    color: #333;
    background-color: #fff;
    border-color: #fff; }

.btn-inverse-white {
  color: #757575;
  text-decoration: none;
  border: 2px solid #ffffff;
  background-color: #fff;
  font-weight: 400; }
  .btn-inverse-white:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff; }

.btn-inverse-black {
  color: #fff;
  text-decoration: none;
  border: 2px solid #333;
  background-color: #333;
  font-weight: 400; }
  .btn-inverse-black:hover {
    color: #333;
    background-color: #fff;
    border-color: #333; }

.btn-inverse-green {
  color: #fff;
  text-decoration: none;
  border: 2px solid #00a651;
  background-color: #00a651;
  font-weight: 400; }
  .btn-inverse-green:hover {
    color: #00a651;
    background-color: #fff;
    border-color: #00a651; }

.btn-inverse-blue {
  color: #fff;
  text-decoration: none;
  border: 2px solid #00719c;
  background-color: #00719c;
  font-weight: 400; }
  .btn-inverse-blue:hover {
    color: #00719c;
    background-color: #fff;
    border-color: #00719c; }

.btn-inverse-red {
  color: #fff;
  text-decoration: none;
  border: 2px solid #c12e2e;
  background-color: #c12e2e;
  font-weight: 400; }
  .btn-inverse-red:hover {
    color: #c12e2e;
    background-color: #fff;
    border-color: #c12e2e; }

.btn-inverse-google-blue {
  color: #fff;
  text-decoration: none;
  border: 2px solid #4285f4;
  background-color: #4285f4;
  font-weight: 400; }
  .btn-inverse-google-blue:hover {
    color: #4285f4;
    background-color: #fff;
    border-color: #4285f4; }

.txt {
  border-radius: 0;
  border: 4px solid #fff;
  color: #eee;
  background-color: transparent; }

.txt-inverse {
  border-radius: 0;
  border: 2px solid #eee;
  color: #eee;
  background-color: rgba(0, 0, 0, 0.2); }
  .txt-inverse:active {
    border-color: #fff;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4); }

.inputError {
  border-color: #c12e2e !important; }

.header-stylish {
  font-variant: small-caps;
  font-weight: 400;
  font-style: italic; }

.shadow-bottom {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.7); }

.shadow-top {
  box-shadow: -2px -2px 5px 0 rgba(0, 0, 0, 0.7); }

.shadow-top-bottom {
  box-shadow: -2px -2px 5px 0 rgba(0, 0, 0, 0.7), 2px 2px 5px 0 rgba(0, 0, 0, 0.7); }

ul.unlist {
  list-style: none; }

.background-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.background-img-attached {
  background-attachment: fixed !important; }

.background-img-contain {
  background-size: contain !important; }

hr {
  margin: 0 auto 20px;
  border: solid #ddd;
  border-width: 1px 0 0; }

textarea {
  max-width: 90%;
  min-width: 100px;
  min-height: 50px; }

.clip-text {
  background-color: #fff;
  position: relative;
  min-width: 50px;
  border-radius: 50%; }
  .clip-text::before {
    background-image: linear-gradient(to bottom right, #38e3e4 0%, #3891e4 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .clip-text::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 108%;
    height: 108%;
    top: -4%;
    left: -4%;
    background-image: linear-gradient(to bottom right, #38e3e4 0%, #3891e4 100%);
    border-radius: 50%; }

.progress {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #eee; }
  .progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 10px;
    background-image: linear-gradient(to left, #38e3e4 0%, #3891e4 100%); }

.circle {
  border-radius: 50%; }

.border-black {
  border-color: #333; }

.border-blue {
  border-color: #00719c; }

.border-green {
  border-color: #00a651; }

.border-subtle {
  border-color: #f0f0f0 !important; }

.border-0 {
  border: 0px; }

.border-1 {
  border-width: 1px;
  border-style: solid; }

.border-2 {
  border-width: 2px;
  border-style: solid; }

.border-1-right {
  border-right-width: 1px;
  border-style: solid; }

.border-2-right {
  border-right-width: 2px;
  border-style: solid; }

.border-1-left {
  border-left-width: 1px;
  border-style: solid; }

.border-2-left {
  border-left-width: 2px;
  border-style: solid; }

.border-3-left {
  border-left-width: 3px;
  border-style: solid; }

.border-4-left {
  border-left-width: 4px;
  border-style: solid; }

.border-1-bottom {
  border-bottom-width: 1px;
  border-style: solid; }

.border-2-bottom {
  border-bottom-width: 2px;
  border-style: solid; }

.checkboxLabel {
  display: block;
  position: relative;
  cursor: pointer; }
  .checkboxLabel input {
    display: none; }
    .checkboxLabel input:checked + div {
      background-color: #00acac; }
      .checkboxLabel input:checked + div::before {
        content: ""; }
  .checkboxLabel span {
    display: inline-block;
    margin-left: 25px;
    line-height: 22px; }
  .checkboxLabel .stylishCheckbox {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ccc;
    color: #fff; }
    .checkboxLabel .stylishCheckbox::before {
      position: absolute;
      font: normal normal normal 14px/1 FontAwesome;
      content: "";
      top: 3px;
      left: 3px; }

.opacity-0 {
  opacity: 0; }

[class*='parallax'] {
  opacity: 1; }

.fadeIn300 {
  opacity: 0;
  display: block !important;
  animation: fadeIn 0.3s ease-in-out forwards; }

.fadeIn500 {
  display: block !important;
  animation: fadeIn 0.5s ease-in-out forwards; }

.fadeIn1000 {
  opacity: 0;
  display: block !important;
  animation: fadeIn 1s ease-in-out forwards; }

.fadeOut300 {
  display: none;
  animation: fadeOut 0.3s ease-in-out forwards; }

.fadeOut500 {
  display: none;
  animation: fadeOut 0.5s ease-in-out forwards; }

.fadeOut1000 {
  display: none;
  animation: fadeOut 1s ease-in-out forwards; }

.fadeSlide300 {
  opacity: 0 !important;
  transform: translate(-5%, 0%) !important; }

.fadeSlideUp {
  opacity: 0;
  transform: translate(0, 30px); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeOut {
  0% {
    display: block;
    opacity: 1; }
  100% {
    opacity: 0;
    display: none; } }
.background-loader {
  position: fixed;
  z-index: 200;
  background-color: #21a1e1;
  width: 100%;
  height: 100%; }

.loader {
  position: fixed;
  z-index: 201;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 200px;
  width: 200px;
  overflow: hidden;
  text-align: center; }

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 303;
  border-radius: 100%;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border: 10px solid #fff; }

.spinner1 {
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite; }

.spinner2 {
  width: 70px;
  height: 70px;
  animation: negative-spin 2s linear infinite; }

.spinner3 {
  width: 40px;
  height: 40px;
  animation: spin 4s linear infinite; }

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(360deg); } }
@keyframes negative-spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg); } }
.loader-text {
  position: relative;
  top: 75%;
  color: #fff;
  font-weight: bold; }

.btn-inverse-theme-red {
  color: #fff;
  text-decoration: none;
  border: 2px solid #be132c;
  background-color: #be132c;
  font-weight: 400; }
  .btn-inverse-theme-red:hover {
    color: #be132c;
    background-color: #fff;
    border-color: #be132c; }

.red-black-gradient {
  background: linear-gradient(to right, #eb5757, #000); }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  width: 100%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden !important; }

a {
  color: #333;
  text-decoration: none;
  cursor: pointer; }

.pointer {
  cursor: pointer; }

.a-reverse {
  color: #fff; }

.a {
  color: #252525; }

.background-load {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 1000; }

.logo-loader {
  overflow: hidden;
  width: 500px;
  height: 200px;
  background-image: url("../pics/icy-penguin.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  .logo-loader .load1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
    left: 0;
    top: 0;
    background-color: #fff; }
  .logo-loader .load2 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    left: 0;
    top: 0;
    background-image: url("../pics/icy-penguin-load.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }

.menu-bars {
  display: none; }

nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100px;
  transition: 0.5s all ease-in-out; }
  nav.scrolled {
    background-color: #fff;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.5); }
    nav.scrolled .nav-ul .nav-li a {
      color: #333; }
    nav.scrolled .nav-ul .nav-li::before {
      transition: 0.3s all ease-in-out; }
    nav.scrolled .nav-ul .nav-li:hover a {
      color: #fff;
      opacity: 1; }
    nav.scrolled .nav-ul .nav-li:hover::before {
      height: 100%; }
  nav a {
    transition: 0.1s all ease-in-out; }
  nav .nav-ul {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    padding: 0;
    width: 50%; }
    nav .nav-ul .nav-li {
      position: relative;
      display: inline-block;
      font-size: 16px;
      padding-right: 15px;
      padding-left: 15px;
      padding-top: 12px;
      padding-bottom: 8px;
      font-weight: 400; }
      nav .nav-ul .nav-li a {
        color: #fff;
        opacity: 1; }
      nav .nav-ul .nav-li::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 0px;
        bottom: 0;
        left: 0;
        background-color: #21a1e1;
        z-index: -1;
        transition: 0.3s all ease-in-out; }
      nav .nav-ul .nav-li:hover a {
        opacity: 0.5; }
  nav .content {
    position: relative;
    z-index: 2;
    height: calc(100% - 30px);
    width: 200%;
    padding-top: 30px;
    padding-left: 3%;
    top: 30px; }
    nav .content .logo {
      position: absolute;
      left: 50px;
      top: -20px;
      display: block;
      width: 27%;
      max-width: 300px;
      min-width: 200px;
      transition: 0.5s all ease-in-out; }
  nav .nav-black {
    z-index: 1;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background-color: transparent; }
    nav .nav-black .nav-ul {
      width: 510px;
      left: 50%;
      margin-left: -255px; }

.carousel .carousel-control.left, .carousel .carousel-control.right {
  top: 0 !important; }
.carousel .carousel-control.left span.uniqueControl, .carousel .carousel-control.right span.uniqueControl {
  color: #fff !important;
  padding: 25px !important;
  background-color: rgba(0, 0, 0, 0.6) !important;
  border-radius: 11% !important;
  line-height: 0 !important;
  font-size: 40px !important;
  width: auto;
  height: auto; }
.carousel .background-img {
  height: 500px;
  width: 100%; }

.background-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel2 img {
  display: block;
  width: 100%; }
.carousel2 .left.carousel-control {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1); }
.carousel2 .right.carousel-control {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1); }
.carousel2 .left.carousel-control, .carousel2 .right.carousel-control {
  top: 0;
  background-repeat: repeat-x; }
.carousel2 .left.carousel-control span, .carousel2 .right.carousel-control span {
  position: absolute;
  color: #fff;
  top: 40%; }

.background {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  background-image: url("../img/background-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.background-header {
  margin-top: 250px; }

.responsive {
  top: 50%; }
  .responsive img:nth-child(1) {
    min-width: 250px;
    width: 80%;
    height: auto; }
  .responsive img:nth-child(2) {
    min-width: 100px;
    position: absolute;
    left: 40%;
    bottom: 0;
    width: 32%;
    height: auto; }
  .responsive img:nth-child(3) {
    min-width: 25px;
    position: absolute;
    left: 60%;
    bottom: 0;
    width: 8%;
    height: auto; }

footer {
  position: relative;
  width: 100%;
  height: 900px;
  border-bottom: 5px solid #000;
  color: #eee;
  margin-top: -16px; }
  footer .galaxy {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  footer h3 {
    font-size: 15px; }
  footer li {
    list-style: none;
    line-height: 2; }
    footer li a {
      color: #fff; }
      footer li a:hover {
        text-decoration: underline; }
  footer h3.social-container a {
    margin: 0 10px;
    font-size: 20px; }
  footer h3.social-container .facebook {
    padding: 8px 15px;
    border-radius: 10px; }
    footer h3.social-container .facebook:hover {
      color: #fff;
      background-color: #4867aa; }
  footer h3.social-container .twitter {
    padding: 8px 11px;
    border-radius: 10px; }
    footer h3.social-container .twitter:hover {
      color: #fff;
      background-color: #1da1f2; }
  footer h3.social-container .youtube {
    padding: 8px 11px;
    border-radius: 10px; }
    footer h3.social-container .youtube:hover {
      color: #fff;
      background-color: #f00; }
  footer h3.social-container .instagram {
    padding: 8px 12px;
    border-radius: 10px; }
    footer h3.social-container .instagram:hover {
      color: #fff;
      background: -webkit-radial-gradient(7px 36px, #ffda75 18%, #ff3a49 43%, #ff3a49 50%, #e518a1 70%, #6634e1 100%); }

.bg-white {
  background-color: #fff; }

.txt-white {
  color: #fff; }

.bg-grey {
  background-color: #ddd;
  background-color: #ddd;
  box-shadow: 2px 5px 10px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 2; }

.bg-black {
  background-color: #333; }

.bg-white-075 {
  background-color: rgba(255, 255, 255, 0.75); }
  .bg-white-075 h1 {
    color: #fff; }
  .bg-white-075 .txt {
    border-width: 2px;
    padding: 10px 15px;
    width: 100%; }
  .bg-white-075 input {
    font-size: 20px;
    color: #333; }
  .bg-white-075 textarea {
    color: #333;
    font-size: 16px;
    padding: 10px;
    min-height: 100px;
    max-height: 450px; }
  .bg-white-075 .btn {
    padding: 10px 0px;
    width: 100%; }

.bg-red {
  background-color: #be132c; }

.bg-blue {
  background-color: #00719c; }

.bg-green {
  background-color: #00a651; }

.border-red {
  border-color: #be132c; }

.clicky-btn {
  border-radius: 100px;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 25px;
  letter-spacing: 0.5px;
  transition: 0.3s all ease-in-out;
  transform: translate(-4px, -4px); }
  .clicky-btn:hover {
    box-shadow: none !important;
    transform: translate(0, 0); }
  .clicky-btn.white {
    color: #21a1e1;
    background-color: #fff;
    box-shadow: 4px 4px 0 rgba(200, 200, 200, 0.8), 3px 3px 0 rgba(200, 200, 200, 0.8), 2px 2px 0 rgba(200, 200, 200, 0.8), 1px 1px 0 rgba(200, 200, 200, 0.8); }
  .clicky-btn.green {
    color: #fff;
    background-color: #0ac97e;
    box-shadow: 4px 4px 0 rgba(9, 153, 97, 0.8), 3px 3px 0 rgba(9, 153, 97, 0.8), 2px 2px 0 rgba(9, 153, 97, 0.8), 1px 1px 0 rgba(9, 153, 97, 0.8); }

h1.flex-between, h2.flex-between, h3.flex-between {
  padding: 0 20px;
  font-weight: 300; }

h1.flex-between span, h2.flex-between span, h3.flex-between span {
  font-size: 20px;
  font-style: italic;
  color: #999;
  line-height: 2.4; }

.background-loader {
  background-color: #21a1e1; }

.spinner {
  border-top-color: #252525;
  border-bottom-color: #252525; }

.loader-text {
  color: #252525; }

.about-clip {
  width: 100px;
  height: 100px;
  line-height: 2 !important; }

.background_lines {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  min-height: 700px; }

.skill-icon {
  max-width: 151px;
  max-height: 151px;
  width: 100%;
  height: 100%; }

.circle_progress {
  position: relative; }
  .circle_progress img {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-top: -2px;
    transform: translate(-50%, -50%); }
  .circle_progress svg {
    width: 169px !important;
    height: 169px !important; }

.landscape {
  position: relative;
  width: 100%;
  min-height: 900px;
  background-image: url("../img/landscape2.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover; }
  .landscape .container {
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px; }

.window {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5); }
  .window:hover .link {
    opacity: 1; }
  .window img {
    width: 360px;
    height: 286px; }
  .window .link {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in; }
    .window .link img {
      display: block;
      position: relative;
      margin: 0 auto;
      top: 50px;
      width: 200px;
      height: auto; }
    .window .link a {
      position: relative;
      margin: 0 auto;
      width: 40%;
      top: 100px;
      border-width: 1px !important; }
  .window .panel-bottom {
    border-radius: 0;
    height: 15px;
    width: 100%;
    margin: 0;
    background: -webkit-linear-gradient(to bottom, #cbcdcc, silver);
    background: linear-gradient(to bottom, #cbcdcc, silver);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3); }
  .window .panel {
    border-radius: 0;
    height: 20px;
    width: 100%;
    margin: 0;
    background: -webkit-linear-gradient(to bottom, #cbcdcc, silver);
    background: linear-gradient(to bottom, #cbcdcc, silver);
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3); }
    .window .panel:before, .window .panel:after, .window .panel span {
      display: inline-block;
      content: "";
      border-radius: 50%;
      margin: 3px;
      width: 12px;
      height: 12px; }
    .window .panel:before {
      background-color: #ff5d56; }
    .window .panel span {
      background-color: #ffbd35; }
    .window .panel:after {
      background-color: #00cc4b; }

@media screen and (max-width: 900px) {
  .dropdown, .dropdown2 {
    width: 100% !important; }

  a span.fa-caret-right {
    transform-origin: center;
    transform: rotate(90deg); }

  .nav-ul {
    display: none; }

  .menu-bars {
    display: block; }

  nav .content {
    padding-left: 0; }
    nav .content .logo {
      top: 0px;
      left: 20px; }
  nav .nav-black .nav-ul {
    width: 100%;
    margin-left: 0;
    left: 0;
    top: 70px;
    height: 252px; }
  nav .nav-ul .nav-li {
    z-index: 1000;
    display: block;
    margin-right: 0;
    text-align: center;
    background-color: #fff; }
    nav .nav-ul .nav-li a {
      color: #333; }
    nav .nav-ul .nav-li .dropdown {
      position: relative;
      left: 0;
      width: 100%; }
    nav .nav-ul .nav-li .dropside {
      position: relative;
      left: 0;
      width: 100%; }
      nav .nav-ul .nav-li .dropside .dropside2 {
        position: relative;
        left: 0;
        width: 100%; }
    nav .nav-ul .nav-li:hover .dropdown {
      display: none; }
      nav .nav-ul .nav-li:hover .dropdown:hover .dropside, nav .nav-ul .nav-li:hover .dropdown .dropside:hover .dropside2 {
        display: none; } }
@media screen and (max-width: 770px) {
  footer {
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    z-index: 100; }
    footer .sml-msg {
      width: 100%;
      position: absolute;
      top: 40%;
      left: 0; } }
@media screen and (max-width: 770px) {
  footer {
    padding: 20px; }

  nav .nav-address {
    margin-left: 50px;
    right: 0; }

  .carousel .background-img {
    height: 300px;
    background-position: center center !important;
    background-attachment: inherit !important; } }
@media screen and (max-width: 750px) and (min-width: 0px) {
  .background-header {
    margin-top: 100px; }

  .about-section {
    display: block;
    text-align: center; }
    .about-section .about-clip {
      margin: 20px 10%; }

  .clip-img {
    display: block;
    margin: 0 auto 30px; } }

/*# sourceMappingURL=temp.css.map */
